services:
  ledger-service:
    image: ledger-service:local
    build:
      context: .
    environment:
      SERVER_PORT: 8092
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/ledger
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}
      OUTBOX_PUBLISHER_DELAY_MS: 2000
    ports: ["8092:8092"]

networks:
  default:
    name: acquiring-net